<div class="main png_bg">
	<div class="inner_main">
		<div class="container_omega">
<%= render :partial => "/shared/content_page" %>
		</div>
	</div>		
</div>

<!-- /True containers (keep the content inside containers!) -->
<div class="endmain png_bg"></div>
<!-- /Main content alpha -->

<!-- Footer styling transition (the stripe). You can remove it if you don't like it -->
<div class="stripe png_bg"></div>
<!-- /Footer styling transition -->