		</div>
	</div>		
</div>

<!-- /True containers (keep the content inside containers!) -->
<div class="endmain png_bg"></div>
<!-- /Main content alpha -->

<!-- Footer styling transition (the stripe). You can remove it if you don't like it -->
<div class="stripe png_bg"></div>
<!-- /Footer styling transition -->
	<!-- Footer -->
<div id="footer_top" class="png_bg"></div>
<div id="footer" class="png_bg">

			<div class="gs_2 widget">
				<h4 class="widgettitle">Pages</h4>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="../pages/features">Features</a></li>
					<li><a href="../pages/about">About</a>
					<li><a href="../blog">Blog</a></li>
					<li><a href="../pages/pricing">Pricing</a></li>
					<li><a href="../pages/support">Support</a></li>
					<li><a href="../pages/contact">Contact</a></li>
				</ul>
			</div>
			<div class="gs_4 widget">
				<h4 class="widgettitle">Questions or concerns?</h4>
				<p>Contact us about our product, prices, or anything else.</p>
				<p><strong>by phone:</strong> +48 555-654-983 <br />
				<strong>by mail:</strong><a href="mailto:support@incflow.com">support@incflow.com</a><br />
				<strong>or by our:</strong> <a href="contact.html">Contact Page</a></p>
			</div>
			<div class="gs_4 widget">
				<h4 class="widgettitle">Sign Up!</h4>
				<p>Sign up now.  Start seeing trends and emboldening your decisions.</p>
					<ul>
						<li><a href="../pages/signup">Sign up</a></li>
					</ul>
			</div>
			<div class="gs_2 omega widget">
			<h4 class="widgettitle">Legal</h4>
			<p>Interested in our privacy policy or terms of service? </p>
			<ul>
					<li><a href="../pages/privacy">Privacy</a></li>
					<li><a href="../pages/terms">Terms of Service</a></li>
			</ul>
			
			</div>
</div>

<div id="footer_bottom" class="png_bg"><p>Copyrights &copy; <a href="http://www.incflow.com">IncFlow</a> 2011. All rights reserved.</p></div>
<!-- /footer -->



<!-- Javascript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js "%>

<script>!window.jQuery && document.write(unescape('%3Cscript src="javascripts/libs/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>


<!-- scripts concatenated and minified via ant build script-->
<%= javascript_include_tag "plugins.js" %>
<%= javascript_include_tag "script.js" %>
<!-- end concatenated and minified scripts-->

<!--[if lt IE 7 ]>
  <script src="js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg, .sidebar, .sidebar ul, .sidebar ul li, .sidebar ul li a'); //fix any <img> or .png_bg background-images </script>
<![endif]-->