
	<!-- Footer -->
<div id="footer_top" class="png_bg"></div>
<div id="footer" class="png_bg">

			<div class="gs_2 widget">
				<h4 class="widgettitle">Pages</h4>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">Features</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="gs_4 widget">
				<img src="images/assets/ds.jpg" alt="" class="border_magic alignleft no_bottom_margin" />
				<h4 class="widgettitle">Contact with us!</h4>
				<p>Got some questions? Need advice? Get in touch with us!</p>
				<p><strong>by phone:</strong> +48 555-654-983 <br />
				<strong>by mail:</strong> <a href="#">johndoes@ohnoes.com</a><br />
				<strong>or by our:</strong> <a href="contact.html">Contact Page</a></p>
			</div>
			<div class="gs_4 widget">
				<h4 class="widgettitle">Newsletter</h4>
				<p>Subscribe to our newsletter to always be up to date! See more, learn more.</p>
					<form action="mail.php" id="subscribe-form" method="post">
						<input type="text" name="email" id="email" value="Type in your email" title="Type in your email" />
						<input name="submitted" id="submit" value="Submit" class="superbutton" type="submit" />
					</form>
				<ul class="icons">
					<li><a href="http://www.facebook.com/pages/designsentry/110639872348300"><img src="images/icons/icons/facebook_16.png" alt="designsentry on facebook" /></a></li>
					<li><a href="http://twitter.com/designsentry"><img src="images/icons/icons/twitter_16.png" alt="designsentry on twitter" /></a></li>
					<li><a href="#"><img src="images/icons/icons/myspace_16.png" alt="" /></a></li>
					<li><a href="#"><img src="images/icons/icons/picasa_16.png" alt="" /></a></li>
					<li><a href="#"><img src="images/icons/icons/youtube_16.png" alt="" /></a></li>
					<li><a href="#"><img src="images/icons/icons/vimeo_16.png" alt="" /></a></li>
				</ul>
			</div>
			<div class="gs_2 omega widget">
			<h4 class="widgettitle">Our Affiliates</h4>
			<p>Lorem Ipsum is simply dummy text. </p>
			<ul>
					<li><a href="http://www.designsentry.com">DesignSentry</a></li>
					<li><a href="http://www.themeforest.net/user/EvGreen/portfolio?ref=evgreen">Themeforest</a></li>
					<li><a href="#">FreshBananas</a></li>
			</ul>
			
			</div>
</div>

<div id="footer_bottom" class="png_bg"><p>Copyrights &copy; <a href="http://www.incflow.com">IncFlow</a> 2011. All rights reserved.</p></div>
<!-- /footer -->



<!-- Javascript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="javascripts/libs/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>


<!-- scripts concatenated and minified via ant build script-->
<script src="javascripts/plugins.js"></script>
<script src="javascripts/script.js"></script>
<!-- end concatenated and minified scripts-->

<!--[if lt IE 7 ]>
  <script src="js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg, .sidebar, .sidebar ul, .sidebar ul li, .sidebar ul li a'); //fix any <img> or .png_bg background-images </script>
<![endif]-->