<!-- Header -->

<div id="header">
	<div id="logo"><a href="index.html"><img src="images/logo.png" alt="" /></a></div>
	<div id="personal_data">
		<p><a href="https://www.incflow.com/users/sign_in">Login</a></p>
		<p><a href="https://www.incflow.com/users/sign_up">Register now</a></p>
	</div>
</div>
<div id="menu" class="png_bg">
		<ul>
			<li class="selected"><a href="index.html">Home</a></li>
			<li><a href="#">Features</a>
			<ul>
				<li><a href="typography.html">Typography</a>
				<ul>
					<li><a href="typography.html">Headings and paragraphs</a></li>
					<li><a href="floats.html">Images and floats</a></li>
					<li><a href="dropcaps.html">Dropcaps and blockquotes</a></li>
					<li><a href="checklists.html">Code blocks and checklists</a></li>
					<li><a href="buttons.html">Buttons</a></li>
					<li><a href="boxes.html">Warning boxes</a></li>
					<li><a href="separators.html">Separators</a></li>
					<li><a href="tables.html">Tables</a></li>
					<li><a href="showcase.html">Grids and container blocks</a></li>
					<li><a href="pricing.html">Pricing tables</a></li>
					<li><a href="toggle.html">FAQ toggles</a></li>
				</ul>
				</li>
				<li><a href="showcase.html">Grids showcase</a></li>
				<li><a href="pricing.html">Pricing tables</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
			</li>
			<li><a href="#">Pages</a>
			<ul>
				<li><a href="#">Mainpage styles</a>
				<ul>
					<li><a href="index.html">Default</a></li>
					<li><a href="mainpage_pricing.html">With pricing</a></li>
					<li><a href="mainpage_pricing_nowidg.html">With pricing, without widgets</a></li>
					<li><a href="mainpage_news.html">With news section</a></li>
					<li><a href="mainpage_noslogan.html">Without slogan area</a></li>
					<li><a href="mainpage_noslider.html">Without slider</a></li>
					<li><a href="mainpage_vid.html">With video</a></li>
				</ul>
				</li>
				<li><a href="#">Portfolio styles</a>
				<ul>
					<li><a href="portfolio4c.html">4-columns</a></li>
					<li><a href="portfolio.html">Default, 3-columns</a></li>
					<li><a href="portfolio2c.html">2-columns</a></li>
					<li><a href="portfolio1c.html">1-column</a></li>
					<li><a href="portfolio_allinone.html">All in one</a></li>
				</ul>
				</li>
				<li><a href="#">Blog styles</a>
				<ul>
					<li><a href="blog.html">Default</a></li>
					<li><a href="blog2.html">Sidebar left</a></li>
					<li><a href="blog3.html">Double sidebars</a></li>
				</ul>
				</li>
				<li><a href="#">Contact styles</a>
				<ul>
					<li><a href="contact.html">Default</a></li>
					<li><a href="contact2.html">Style no.2</a></li>
					<li><a href="contact3.html">Style no.3</a></li>
				</ul>
				</li>
				<li><a href="404.html">Error 404 page</a></li>
			</ul>
			</li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="portfolio.html">Portfolio</a></li>
			<li><a href="contact.html">Contact</a></li>
		</ul>
	
<!--	Search Tool 
	<div class="search">
		<form id="search_form" action="#" method="get">
				<input id="search_input" type="text" value="" name="s">
				<input id="search_submit" type="submit" value="" name="SearchSubmit">
		</form>
	</div>  -->
</div>
<!-- /Header -->


<!--  Refinery pre-fabricated header
<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>   -->
