<!-- Header -->

<div id="header">
	<div id="logo"><a href="/"><%= image_tag "logo.png"%></a></div>
	<div id="personal_data"
		<p><a href="https://www.incflow.com/users/sign_in">Login</a></p>
		<p><a href="https://www.incflow.com/users/sign_up">Register now</a></p>
	</div>
</div>
<div id="menu" class="png_bg">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="../pages/features">Features</a></li>
			<li><a href="../pages/about">About</a>
			<li><a href="../blog">Blog</a></li>
			<li><a href="../pages/pricing">Pricing</a></li>
			<li><a href="../pages/support">Support</a></li>
			<li><a href="../pages/contact">Contact</a></li>
		</ul>
	
<!--	Search Tool 
	<div class="search">
		<form id="search_form" action="#" method="get">
				<input id="search_input" type="text" value="" name="s">
				<input id="search_submit" type="submit" value="" name="SearchSubmit">
		</form>
	</div>  -->
</div>
<!-- /Header -->


<!--  Refinery pre-fabricated header
<h1 id='logo'>
  <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path %>
</h1>
<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>   -->
		<div class="main png_bg">
			<div class="inner_main">
				<div class="container_omega">