<p>IncFlow creates tools to simplify and streamline your credit and qualification processes.  Our tools are designed from the ground up by experts in small business and credit management with some important goals:</p>
<ul>
	<li>Be simple for users</li>
	<li>Offer useful data</li>
	<li>Display powerful visualizations</li>
	<li>Catalyze industry collaboration</li>
</ul>
