<div class="gs_12" style="clear:both"> 
	<div class="gs_12 alpha appcontainer standardmargin"> 
		<div class="grid_12 alpha omega"> 
		 <ul class="gs_3 omega" id="tour-tab-links"> <!-- tabs  -->
			<h5 class="tour-tab-header">Company</h5> 
        		<li><a href="#tab8">About</a></li> 
        		<li><a href="#tab9">Credit</a></li> 
        		<li><a href="#tab10">Tools</a></li>
		</ul>
		
<div class="gs_9 omega" id="tab-container">  <!-- tab content  --> 		
<div id="tab8" class="tab_content"> 
	<h2 class="tour-headline">IncFlow: Social Risk Management</h2> 
	<p>IncFlow, Inc. develops cloud-based apps for the enterprise.  After experiencing firsthand the lack of affordable, valuable tools for simple tasks dealing with trade credit and prequalification, we decided to tackle the problem.  IncFlow Pulse is the first of several applications that address problems that are systemic to data sharing in the enterprise.  Currently in development, IncFlow Accounts offers a comprehensive solution for managing risk throughout all your credit and contractor accounts.</p> 
</div> 
<div id="tab9" class="tab_content"> 
	<h2 class="tour-headline">Risk Management is More Important than Ever</h2> 
	<p>These days, as the recession takes its toll, your business is a bank.  When you offer to sell goods on credit, you are financing your customer.  Just like a bank, you need to assess the credit worthiness of your customers.  The calculations can be complex-- a good paying customer might deserve more sales, whereas a poor performer might need more conservative terms.  IncFlow Pulse serves as the first point of reference to determine the health and credit-worthiness of a company.</p> 
</div> 
<div id="tab10" class="tab_content"> 
	<h2 class="tour-headline">Tools for your Credit Managers</h2> 
	<p>Credit managers deal with a comprehensive set of data regarding all facets of a company's well-being.  Information in a CRM can get you a phone number and address, but professional credit managers need to know more.  IncFlow mines your account data and presents you with key metrics necessary to make informed decisions.  IncFlow Pulse specifically targets payment experience as the key metric for determining a company's current payment trend.  IncFlow is developing more products featuring even more intensive financial analysis, drawing upon the financial reports which are fundamental to any credit application.</p> 
	<p>IncFlow offers a brand new combination of power and simplicity for the professional credit manager.</p> 
				</div>
			</div>
		</div>
	</div>
</div>