<div class="gs_12"> 
	<div class="gs_8 alpha appcontainer standardmargin" style="margin-bottom:200px"> 
		<div class="grid_8"> 
			<h1>Contact Us Today</h1> 
					<div id="contact_us"> 
	
	<!-- Contact Form -->					
	<!-- Contact form starts -->
		<form method="post" action="sendEmail.php">
			<div id="form_container" class="gs_4">		
				<div id="form_main">
					<input type="text" name="name" id="name" value="Name" title="Name"/>
					<input type="text" name="email" id="email" value="Email" title="Email"/>
					<textarea name="comments" id="comments" rows="4" cols="4" value="Message" placeholder="Message"></textarea>
					<p><input type="button" name="submit" id="submit" value="Send it!" class="superbutton" /></p>
					<ul id="form_response"><li></li></ul>
				</div>
			</div>
		</form>
  </p> 
				</form>
			</div> 
		</div> 
	</div> 
</div>    
