			<div class="gs_12"> 
	<div class="gs_8 alpha appcontainer standardmargin" style="margin-bottom:200px"> 
		<div class="grid_8"> 
			<h1>Contact Us Today</h1> 
					<div id="contact_us"> 
<form accept-charset="UTF-8" action="/supports" class="new_support" id="new_support" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="CzlfnifVRdU9HSdKBeuyPjk3IYZBPpSvcG7INocLNp8=" /></div><p class="label_name"><label for="support_Name">Name</label></p> 
<p class="input_form"><input id="support_sender_name" name="support[sender_name]" size="30" type="text" /></p> 
<p class="label_name"><label for="support_Email">Email</label></p> 
<p class="input_form"><input id="support_email" name="support[email]" size="30" type="text" /></p> 
<p class="label_name"><label for="support_Type">Type</label></p> 
<p class="input_form"><select id="support_support_type" name="support[support_type]"><option value="Sales Inquiry">Sales Inquiry</option> 
<option value="Press Inquiry">Press Inquiry</option> 
<option value="Idea">Idea</option> 
<option value="Support">Support</option> 
<option value="Batch Upload">Batch Upload</option></select></p> 
<p class="label_name"><label for="support_Details">Details</label></p> 
<p class="input_form"><textarea cols="40" id="support_content" name="support[content]" rows="20"></textarea></p> 
  <p id="submit" style="float:right"> 
    <input class="superbutton" id="support_submit" name="commit" type="submit" value="Send" /> 
  </p> 
</form></div> 
		</div> 
	</div> 
</div>    
