</div>
		<!-- True containers (keep the content inside containers!) -->
			<div class="container_alpha">
				<h1><img src="images/screenshots/view_company.png" style="width:45%" alt="" class="alignright" />How well are your customers paying?</h1>
				<p>Pulse shows up-to-the-minute trends, from real invoices.</p>
				<p><span class="dropcapcolor">P</span>raesent iaculis, elit eget convallis gravida, nulla urna gravida elit, eu eleifend purus nunc eu sem. Donec accumsan ipsum vel orci volutpat eleifend cursus erat congue. Suspendisse lacinia consequat aliquam. Proin eget odio non risus sodales blandit non a ante. Sed sollicitudin nisl id nunc mattis sed gravida quam accumsan..</p>
				<p><h3>Sign up now for an early bird price!</h3>
				<p><a href="../pages/signup" class="superbutton green">Buy it now!</a></p>
			</div>
			
		<div class="container_alpha slogan">
			<h1>Pulse monitors your customer's <strong>payment history</strong> across vendors, service providers, and banks, alerting you when negative <strong>payment trends</strong> start.</h1>
		</div>
			
			
			
		<div class="container_omega">  <!-- list of features and stuff -->
			<div class="gs_12 alpha">
				<br><br><br>
				<h3 class="widgettitle">Trends</h3>
			</div>
			<div class="gs_5">
				<img src=" http://placehold.it/350x250" />
			</div>
			<div class="gs_7 omega">
				<p>At the heart of IncFlow Pulse is a simply set of charts and tables which display crucial payment trends. If your accounts are paying on time or late, you can see the trend instantly and alter your credit strategy.</p>
				<p><a href="#" class="superbutton">Learn more</a></p>
			</div>
			
				<div class="gs_12 alpha">
					<h3 class="widgettitle">Secure</h3>
				</div>
				<div class="gs_5">
					<img src=" http://placehold.it/350x250" />
				</div>
				<div class="gs_7 omega">
					<p>IncFlow is built on Heroku’s rock-solid ruby platform, which Salesforce.com recently acquired. Data is secured in Amazon’s cloud servers, and protected by the level of security you expect from top-tier enterprise vendors.</p>
					<p><a href="#" class="superbutton">Learn more</a></p>
				</div>
				<div class="gs_12 alpha">
					<br><br><br>
					<h3 class="widgettitle">Simple</h3>
				</div>
				<div class="gs_5">
					<img src=" http://placehold.it/350x250" />
				</div>
				<div class="gs_7 omega">
					<p>IncFlow Pulse is designed to be simple, fast, with no training or implementation necessary. Full support documentation is available, but when all it takes is a click or two to get where you want, we doubt you’ll need much help!</p>
					<p><a href="#" class="superbutton">Learn more</a></p>
				</div>
				
				<div class="gs_12 alpha">
					<br><br><br>
					<h3 class="widgettitle">Collaborative</h3>
				</div>
				<div class="gs_5">
					<img src=" http://placehold.it/350x250" />
				</div>
				<div class="gs_7 omega">
					<p>Payment experiences are published in summary form and viewable by others.  Privacy options are strict and customizable.  Permit certain people to see certain data, easy. Other companies will learn more about your business and your partners simply by using IncFlow.</p>
					<p><a href="#" class="superbutton">Learn more</a></p>
				</div>

				<div class="gs_12 alpha">
					<br><br><br>
					<h3 class="widgettitle">On Demand</h3>
				</div>
				<div class="gs_5">
					<img src=" http://placehold.it/350x250" />
				</div>
				<div class="gs_7 omega">
					<p>IncFlow is a fully hosted SaaS solution. It is available everywhere there is an internet connection, from any computer with any web browser.  There is zero implementation, and the learning curve is nearly flat.  Upload your invoices, and you're done.</p>
					<p><a href="#" class="superbutton">Learn more</a></p>
				</div>
				
				
	

		
		<!-- Refinery Home Page content
			<div class="gs_12">
				<%= render :partial => "/shared/content_page" %>
			</div>  -->

		
		
		<!-- /True containers (keep the content inside containers!) -->

 
		<!-- /Main content alpha -->

		<!-- Footer styling transition (the stripe). You can remove it if you don't like it -->

	

	
	




