</div>
		<!-- True containers (keep the content inside containers!) -->
		<div class="container_gamma slogan">
		<h1>IncFlow monitors how well <strong>your customers</strong> pay their bills.  Use it to search, collaborate and  <strong>decide</strong>.  It's a powerful new tool for credit professionals.</h1>
		</div>
			<div class="container_alpha slider">
				<div id="slider" class="nivoSlider">
					<img src="images/slides/slide1.jpg" alt="" title="#htmlcaption" />
					<img src="images/slides/slide2.jpg" alt="" title="#htmlcaption2"/>
					<img src="images/slides/slide3.jpg" alt="" title="#htmlcaption3" />
				</div>
				<div id="htmlcaption" class="nivo-html-caption">
					<h3>Do you see your customers?</h3>
					<p>IncFlow offers new tools to spot trends in your accounts.</p>
					<p>You need to know if your customers are beginning to pay late, or if they are managing to stay ahead of the curve.  In either case, your credit decisions depend on accurate insight into your customers payment trends.</p>
				</div>
				<div id="htmlcaption2" class="nivo-html-caption">
					<h3>Less than an ERP, just what you need</h3>
					<p>IncFlow is designed from the ground up to offer targeted data and visualizations that you can act on.  IncFlow is not an ERP.</p>
					<p>Or, you could say, ERP's do not yet offer visualizations and collaboration like IncFlow does.</p>
				</div>
				<div id="htmlcaption3" class="nivo-html-caption">
					<h3>Where are your accounts?</h3>
					<p>IncFlow puts all your accounts together and gives you insider knowledge.  Share information securely with industry peers.</p>
					<p>See outside your own walls and collaborate within your industry.</p>
					<p><a href="typography.html" class="superbutton">+ See more..</a></p>
				</div>
				<div class="loader"></div>
			</div>
			
			
			
		<div class="container_omega">
				<div class="gs_3">
					<h3 class="widgettitle">Be secure</h3>
					<p>IncFlow is built on Heroku’s rock-solid ruby platform, which Salesforce.com recently acquired. Data is secured in Amazon’s cloud servers, and protected by the level of security you expect from top-tier enterprise vendors.</p>
					<p><a href="#" class="superbutton">+ Read more..</a></p>
				</div>
				<div class="gs_3">
					<h3 class="widgettitle">Spot trends</h3>
					<p><img src="images/icons/mouse.png" alt="" class="alignleft icon" />At the heart of IncFlow Pulse is a simply set of charts and tables which display crucial payment trends. If your accounts are paying on time or late, you can see the trend instantly and alter your credit strategy.</p>
					<p><a href="#" class="superbutton">+ Read more..</a></p>
				</div>
				<div class="gs_3">
					<h3 class="widgettitle">Stay simple</h3>
					<p><img src="images/icons/newspaper.png" alt="" class="alignleft icon" />IncFlow Pulse is designed to be simple, fast, with no training or implementation necessary. Full support documentation is available, but when all it takes is a click or two to get where you want, we doubt you’ll need much help!</p>
					<p><a href="#" class="superbutton">+ Read more..</a></p>
				</div>
				<div class="gs_3 omega">
					<h3 class="widgettitle">Collaborate</h3>
					<p><img src="images/icons/clock.png" alt="" class="alignleft icon" />Payment experiences are published in summary form and viewable by others. You can help other companies learn more about your business and your partners simply by using IncFlow. Privacy options are customizable.</p>
					<p><a href="#" class="superbutton">+ Read more..</a></p>
				</div>

		
		<!-- Refinery Home Page content
			<div class="gs_12">
				<%= render :partial => "/shared/content_page" %>
			</div>  -->

		
		
		<!-- /True containers (keep the content inside containers!) -->

 
		<!-- /Main content alpha -->

		<!-- Footer styling transition (the stripe). You can remove it if you don't like it -->

	

	
	




