
<div class="gs_4 alpha">
	<br>
</div>
<div class="gs_4">
		<form method="post" action="sendEmail.php">
			<div id="form_container" class="gs_4">		
				<div id="form_main">
					<input type="text" name="name" id="name" value="Name" title="Name"/>
					<input type="text" name="password" id="password" value="Password" title="Password"/>
					<p><input type="button" name="submit" id="submit" value="Send it!" class="superbutton" /></p>
					<ul id="form_response"><li></li></ul>
				</div>
			</div>
		</form>
</div>
<div class="gs_4 omega">
</div>