	<div class="gs_12">
		<h2>Pick a plan that fits <strong>your business.</strong></h2>
		<div class="hr"></div>
		<div class="pricing">
			<div class="pricing_column">
				<div class="pricing_blurb"><h3>BASIC</h3><h2>$50</h2></div>
				<div class="specs"><p>Per year</p></div>
				<div class="specs"><p>1TB Bandwidth</p></div>
				<div class="specs"><p>1GB Space</p></div>
				<div class="specs"><p><img src="css/img/check.png" alt="" /> Hot Dogs</p></div>
				<div class="buyme"><p><a href="#" class="superbutton">Buy Now!</a></p></div>
			</div>
			<div class="pricing_column">
				<div class="pricing_blurb"><h3>PRO</h3><h2>$150</h2></div>
				<div class="specs"><p>Per year</p></div>
				<div class="specs"><p>2TB Bandwidth</p></div>
				<div class="specs"><p>2GB Space</p></div>
				<div class="specs"><p><img src="css/img/check.png" alt="" /> Cheeseburgers</p></div>
				<div class="buyme"><p><a href="#" class="superbutton">Buy Now!</a></p></div>
			</div>
			<div class="pricing_column">
				<div class="pricing_blurb"><h3>PRO-X</h3><h2>$170</h2></div>
				<div class="specs"><p>Per year</p></div>
				<div class="specs"><p>2TB Bandwidth</p></div>
				<div class="specs"><p>2GB Space</p></div>
				<div class="specs"><p><img src="css/img/check.png" alt="" /> Pizza</p></div>
				<div class="buyme"><p><a href="#" class="superbutton">Buy Now!</a></p></div>
			</div>
			<div class="pricing_column">
				<div class="pricing_blurb"><h3>BUSINESS</h3><h2>$250</h2></div>
				<div class="specs"><p>Per year</p></div>
				<div class="specs"><p>4TB Bandwidth</p></div>
				<div class="specs"><p>15GB Space</p></div>
				<div class="specs"><p><img src="css/img/check.png" alt="" /> Kebab</p></div>
				<div class="buyme"><p><a href="#" class="superbutton">Buy Now!</a></p></div>
			</div>
			<div class="pricing_column">
				<div class="pricing_blurb"><h3>PLATINUM</h3><h2>$350</h2></div>
				<div class="specs"><p>Per year</p></div>
				<div class="specs"><p>6TB Bandwidth</p></div>
				<div class="specs"><p>30GB Space</p></div>
				<div class="specs"><p><img src="css/img/check.png" alt="" /> Lasagne</p></div>
				<div class="buyme"><p><a href="#" class="superbutton">Buy Now!</a></p></div>
			</div>
			<div class="pricing_column">
				<div class="pricing_blurb"><h3>ULTIMATE</h3><h2>$999</h2></div>
				<div class="specs"><p>Per year</p></div>
				<div class="specs"><p>10TB Bandwidth</p></div>
				<div class="specs"><p>50GB Space</p></div>
				<div class="specs"><p><img src="css/img/check.png" alt="" /> Pizza</p></div>
				<div class="buyme"><p><a href="#" class="superbutton">Buy Now!</a></p></div>
			</div>
		</div>
	</div>
