<h1>IncFlow Privacy Policy</h1><br /> 
		
 
		IncFlow provides this Privacy Policy to inform you of our policies and procedures regarding the collection, use, and disclosure of the information that we collect and receive from users of our Services.  This Privacy Policy applies only to information that you provide to use through the Services.  Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms of Service (the “Terms”).  This Privacy Policy applies to information that you provide to us through the Services.
		</p><br /> 
		<p class="style4"> 
		As used in this policy, the terms “using” and “processing” information include using cookies on a computer, subjecting the information to statistical or other analysis and using or handling information in any way, including, but not limited to collecting, storing, evaluating, modifying, deleting, using, combining, disclosing and transferring information within our organization or among our affiliates within the United States or internationally. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Information Collection and Use.</strong>&nbsp; 
		When using the Services, we will collect and store Profile Information that you provide, some of which will be information that can identify a person individually (“Personal Information”). Personal Information includes things like, names, phone numbers, email addresses and home and business postal addresses, Tax ID numbers, and any other information or data.  We use your Personal Information to provide the Services and administer your inquiries.  You may change or delete any Profile Information that you provide at any time through accessing your Account.
		</p><br /> 
		<p class="style4"> 
		We will share your Profile Information with other IncFlow users requesting your IncFlow Profile only with your permission.  You determine and select what Profile Information you wish to share and with whom you will share it.  We will use Profile Information for the following purposes: (i) to provide, improve and optimize the Services, (ii) to better understand our users needs and interests, (iii) to personalize your experience, (iv) to provide you with software updates and/or product announcements, and (v) to provide you with further information and offers from us that we believe you may find useful or interesting.
		</p><br /> 
		<p class="style4"> 
		We use “cookies” to collect information.  A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes.  We use cookies for two purposes.  First, we utilize persistent cookies to save your registration ID and login password for future logins to the Services.  Second, we utilize session ID cookies to enable certain features of the Services, to better understand how you interact with the Services and to monitor aggregate usage by users of the Services and web traffic routing on the Services.  Unlike persistent cookies, session cookies are deleted from your computer when you log off from the Services and then close your browser.  Third party advertisers on the Services may also place or read cookies on your browser.  You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.  If you do not accept cookies, however, you may not be able to use all portions or all functionality of the Services. 
		</p><br /> 
		<p class="style4"> 
		In addition, when you use the Services, our servers automatically record information that your browser sends whenever you visit a website (“Log Data”).  This Log Data may include information such as your computer’s Internet Protocol (“IP”) address, browser type or the webpage you were visiting before you came to our Services, pages of our website and Services that you visit, the time spent on those pages, information you search for on our Services, access times and dates, and other statistics.  We use this information to monitor and analyze use of the Services and for the Services’ technical administration, to increase our Services’ functionality and user-friendliness, and to better tailor it to our visitors’ needs.  We also use this information to verify that visitors to the Services meet the criteria required to process their requests. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Information Sharing and Disclosure.</strong>&nbsp; 
		Except in providing the Services, when we otherwise have your permission, or under the circumstances below, we do not share any Personal Information with other people or nonaffiliated companies: 
		</p><br /> 
		<p class="style4"> 
		    <strong>Service Providers.</strong>&nbsp; We may employ third party companies and individuals to provide some or all of the Services on our behalf, to perform related services (e.g., without limitation, maintenance services, database management, web analytics and improvement of the Services’ features) or to assist us in analyzing how our Services are used.  These third parties may have access to Profile Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.  We may also provide Profile Information to our business partners or other trusted entities for the purpose of providing you with information on goods or services we believe will be of interest to you.  You can, at any time, opt out of receiving such communications by setting the appropriate option in your user profile or by contacting us. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Compliance with Laws and Law Enforcement.</strong>&nbsp; IncFlow cooperates with government and law enforcement officials and private parties to enforce and comply with the law. We will disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (including but not limited to subpoenas), to protect the property and rights of IncFlow or a third party, to protect the safety of the public or any person, or to prevent or stop activity we may consider to be, or to pose a risk of being, any illegal, unethical or legally actionable activity. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Aggregate Information and Non-Identifying Information.</strong> We may share aggregated information that does not include any Personal Information and we may otherwise disclose non-identifying Information and Log Data with third parties for industry analysis, demographic and analytical profiling and other purposes.  Any aggregated information shared in these contexts is anonymous and will not contain Personal Information. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Business Transfers.</strong>&nbsp; We may sell, transfer or otherwise share some or all of our business or assets, in connection with a merger, acquisition, reorganization or sale of assets or in the event of bankruptcy. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Changing or Deleting Your Information.</strong>&nbsp; 
		You may review, update, correct or delete any of the information contained in your IncFlow Profile by making the appropriate modifications in your Account.  If you delete all of you Profile Information, then your Account may become deactivated.  If your Account is deactivated, your Profile Information will no longer be available to other users.  If you would like us to remove your information from our system, please contact us and we will attempt to accommodate your request if we do not have any legal obligation to retain the record. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Security.</strong>&nbsp; 
		IncFlow protects your information transmitted over the Internet by using a secure web server, which allows your browser to interact with IncFlow's web server via an encrypted session. IncFlow employs a Secure Sockets Layer (SSL) connection that provides an encrypted connection.  The 128 bit encrypted connection scrambles ordinary text or data into ciphertext to safeguard your information when transmitted over the Internet.  Depending on which browser you use, you will know you are in a secured area by ‘https’ appearing in front of the URL (Uniform Resource Locator) in the address bar, and/or a locked padlock appearing somewhere in the lower corner of your screen.
		</p><br /> 
		<p class="style4"> 
		We also employ administrative, physical and electronic measures designed to safeguard and protect your information from unauthorized access and disclosure.  We utilize systems access controls to protect your information and we continually monitor access to our systems to detect unauthorized attempts to gain access to information.  Additionally, we restrict access to information that you provide only to those employees who need to know such information to provide and process the information you have requested or to investigate matters you have requested be investigated. 
		</p><br /> 
		<p class="style4"> 
		We will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your unencrypted electronically stored “personal data” (as defined in applicable state statutes on security breach notification) to you via email or conspicuous posting on this Services in the most expedient time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system.
		</p><br /> 
		<p class="style4"> 
		    <strong>International Transfer.</strong>&nbsp; 
		Your information may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may not be as protective as those in your jurisdiction.  If you are located outside the United States and choose to provide information to us, IncFlow may transfer your Personal Information to the United States and processes it there.  Your submission of such information represents your agreement to that transfer. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Links to Other Sites.</strong>&nbsp; 
		Our Services may contain links to other websites for news and other information. If you choose to visit an advertiser by “clicking on” a banner ad or other type of advertisement, or click on another third party link, you will be directed to that third party’s websites.  The fact that we may link to a website or present a banner ad or other type of advertisement is not an endorsement, authorization or representation of our affiliation with that third party, nor is it an endorsement of their privacy or information security policies or practices.  We do not exercise control over third party websites.  These other websites may place their own cookies or other files on your computer, collect data or solicit personal information from you.  Other services follow different rules regarding the use or disclosure of the personal information you submit to them.  Our Privacy Policy only applies to the Services and we are not responsible for the privacy practices or the content of other websites.  You should check the privacy policies of those sites before providing your personal information to them. 
		</p><br /> 
		<p class="style4"> 
		    <strong>Children’s Information.</strong>&nbsp; 
		The Services are not directed to children. We do not knowingly collect personally identifiable information from children. If a parent or guardian becomes aware that his or her child has provided us with Personal Information without their consent, please contact us. If we become aware that a member is under the age of 13 and has provided us with Personal Information without verifiable parental consent, we will delete such information from our files.
		</p><br /> 
		<p class="style4"> 
		    <strong>Agreement and Changes.</strong>&nbsp;
		IncFlow reserves the right, in its sole discretion, to modify, discontinue, or terminate the Services or to modify this Privacy Policy at any time.  If we modify this Privacy Policy, we will notify you of such changes by posting them on the Services or providing you with notice of the modification.  We will also indicate when such terms are effective below.  By continuing to access or use the Services after we have posted a modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Privacy Policy.  If the modified Privacy Policy is not acceptable to you, your only recourse is to cease using the Services.
		</p><br /> 
		<p class="style4"> 
		    <strong>Contacting Us.</strong> 
		If you have any questions about this Privacy Policy, please contact us at support@incflow.com.  
		</p><br /> 
		<p class="style4"> 
		    <strong>Last Updated: </strong>September 1, 2010 
 
		        </p>