<div class="container_alpha slogan">
<h1>Signup and get started in <strong>less than a minute</strong>.</h1>
</div>
	<h3>1) Create your IncFlow account</h3>
	<!-- create account -->
	<div class="gs_4 alpha"
		<form method="post" action="sendEmail.php">
			<div id="form_container">		
				<div id="form_main">
					<input type="text" name="name" id="name" value="Name" title="Name"/>
					<input type="text" name="email" id="email" value="Email" title="Email"/>
					<input type="text" name="password" id="password" value="Password" title="Password"/>
					<input type="text" name="password-confirm" id="password-confirm" value="password-confirm" title="password-confirm"/>
					<input type="text" name="email" id="email" value="Email" title="Email"/>
					<input type="text" name="email" id="email" value="Email" title="Email"/>
				</div>
		</form>
	<h3>2) Enter your billing information</h3>
	<!-- billing information -->
		<form method="post" action="sendEmail.php">
			<div id="form_container">		
				<div id="form_main">
					<input type="text" name="name" id="name" value="Name" title="Name"/>
					<input type="text" name="email" id="email" value="Email" title="Email"/>
					<textarea name="comments" id="comments" rows="4" cols="4" value="Message" placeholder="Message"></textarea>
					<p><input type="button" name="submit" id="submit" value="Send it!" class="superbutton" /></p>
					<ul id="form_response"><li></li></ul>
				</div>
			</div>
		</form>
	<!-- Contact form Ends -->
	</div>
</div>
<!-- sidebar for some verification badges, BBB, Authorize, or whatever -->
<div class="gs_8 omega">
	<h4 class="widgettitle">Your data is secure with us.</h4>
</div>