	<div class="gs_8">
	<h2 class="widgettitle">Toggle:</h2>
	<div class="hr"></div>
	<p>Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p>
	<h3 class="toggle">Closed toggle</h3>
	<div class="toggler"><p>Some text inside toggle.Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p></div>
	<h3 class="toggle open">Toggle with additional class: open - is open on page load</h3>
	<div class="toggler open"><p>Some text inside toggle.Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p></div>
	<h3 class="toggle"><strong>Spoiler alert!</strong></h3>
	<div class="toggler"><p>Vader is his father.</p></div>
	<h3 class="toggle">FAQ Question #7774</h3>
	<div class="toggler"><p>Some text inside toggle.Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p></div>
	<h3 class="toggle">Toggle with some typo in it</h3>
	<div class="toggler"><h2>Heading <strong>size 2</strong></h2><p>Some text inside toggle. Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p></div>
	<h3 class="toggle">Toggle with some more typo</h3>
	<div class="toggler"><h3>Heading <strong>size 3</strong></h3><p>Some text inside toggle.Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p></div>
	<h3 class="toggle">Toggle seven</h3>
	<div class="toggler"><h3>Heading <strong>size 3</strong></h3><p>Some text inside toggle.Quisque rutrum neque nec tortor mollis ut vulputate lectus rutrum. Suspendisse non quam enim. Nam elit orci, vestibulum et mattis ullamcorper, venenatis a urna. Donec vel ullamcorper dui. Fusce lacinia sagittis sem, ac viverra risus molestie non. Cras fringilla ultricies</p><p><br /><a href="#" class="superbutton">And a button!</a></p></div>
	</div>
