	<div class="gs_4">
		<h2 class="widgettitle">Support and FAQ</h2>
		<div class="hr"></div>
			<p>Find answers here, or feel free to <a href="contact">contact us</a></p>
			<div id="tour-tab-links">
			<ul>
				<li><a href="#tab1"><h3>User Registration</h3></a></li>
				<li><a href="#tab2"><h3>Setting up Your Accounts</h3></a></li>
				<li><a href="#tab3"><h3>Uploading data</h3></a></li>
				<li><a href="#tab4"><h3>Security</h3></a></li>
				<li><a href="#tab5"><h3>Sharing Data</h3></a></li>
			</ul>
			</div>
		</div> <!-- end LINKS -->
		
		<!-- TAB CONTENT -->
	    <div class="gs_8 omega" id="tab-container">  <!-- tab content  --> 
	        <div id="tab1" class="tab_content">
				<ul>
					<li><h3 class="toggle">I have a question, can you answer it?</h3>
						<div class="toggler">
							<p>Our trained professionals are able to quickly and easily answer any conceivable question you may have.</p>
						</div></li>
					<li><h3 class="toggle">Any question?</h3>
						<div class="toggler">
							<p>Our trained professionals are able to quickly and easily answer any conceivable question you may have.</p>
						</div></li>
					<li><h3 class="toggle">Are you serious?</h3>
						<div class="toggler">
							<p>Our trained professionals are able to quickly and easily answer any conceivable question you may have.</p>
						</div></li>
					<li><h3 class="toggle">You guys are awesome.</h3>
							<div class="toggler">	
								<p>Thanks.</p>
							</div></li>
				</ul>
			</div>
	        <div id="tab2" class="tab_content">
				<ul>
					<li>Howdy Doody</li>
				</ul>
			</div>
	        <div id="tab3" class="tab_content">
			</div>
	        <div id="tab4" class="tab_content">
			</div>
	        <div id="tab5" class="tab_content">
			</div>
</div>